!!! 5
%html
  %head
    %title Musex
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    %header
      .container
        %h1.logo
          %span mu
          %strong sex

    #main
      .container
        = yield
